<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="Spring.Core.Person">
        <constructor-arg type="int" value="1234"/>
        <constructor-arg name="employee1" ref="opana"/>
        <constructor-arg name="employee2" ref="opana"/>
        <constructor-arg index="2" value="some name"/>
    </bean>

    <bean id="setterInjection" class="Spring.Core.SetterInjection">
        <property name="person" ref="person"/>
    </bean>

</beans>